/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */

/* Begin Variables */
$header-color: #ffab00;
$background-color: #ffc400;
$text-orange: #eb503c;
$text-red: #4e1c07;
$text-blue: #064159;
$text-dark: #021d2c;
$text-gray: #6f8998;
$lato: 'Lato', Arial, sans-serif;
$droid: 'Droid Serif', Arial, sans-serif;

/* Begin Styles */
.header {
	height: 60px;
	width: 94%;
	padding: 3%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $header-color;

	.header_logo {
		height: auto;
		width: 200px;
	}

	.header_head {
		font-size: 21px;
		font-family: $lato;
		font-weight: 400;
		color: $text-blue;
		display: inline;
		margin-right: 0;
		text-decoration: none;
	}
	.header_head_2 {
		font-size: 21px;
		font-family: $lato;
		font-weight: 900;
		color: $text-blue;
		display: inline;
		margin-left: -2px;
		text-decoration: none;
	}
}

.main_nav {
	height: auto;
	width: auto;
	margin-right: 30px;
	position: relative;
	display: inline-block;

	.nav_button {
		width: 35px;
		height: 35px;
		background-color: $header-color;
		padding: 2px;
		margin: auto;
		cursor: pointer;
	}
	.nav_comp {
		width: 20px;
		height: 3px;
		background-color: $text-blue;
		margin: 5px;
	}
	.drop_cont {
		display: none;
		position: absolute;
		right: 0;
		padding: 10px;
		background-color: $background-color;
		min-width: 200px;
		z-index: 1;
		text-align: center;
		border: 1px solid $text-blue;
	}
	.nav_link {
		font-size: 15px;
		font-family: $lato;
		color: $text-blue;
		display: block;
		text-decoration: none;
		margin: 10px 0;
	}
}
.main_nav:hover .drop_cont {
	display: block;
}

@media only screen and (min-width: 769px) {

	.main_nav {
		border: none;
		display: inline;
		height: auto;
		width: auto;

		.drop_cont {
			display: inline;
			position: relative;
			right: 0;
			height: auto;
			width: auto;
			background-color: $header-color;
			border: none;
		}
	}

	.nav_link {
		display: inline;
	}
	.nav_button {
		display: none;
	}
}
