/* Imports */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End CSS Reset */
/* Begin Variables */
/* Begin Styles */
.header {
  height: 30px;
  width: 94%;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffab00; }
  .header .header_logo {
    height: auto;
    width: 200px; }
  .header .header_head {
    font-size: 21px;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
    color: #064159;
    display: inline;
    margin-right: 0;
    text-decoration: none; }
  .header .header_head_2 {
    font-size: 21px;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 900;
    color: #064159;
    display: inline;
    margin-left: -2px;
    text-decoration: none; }

.main_nav {
  height: auto;
  width: auto;
  margin: 8px 30px 0 0;
  position: relative;
  display: inline-block; }
  .main_nav .nav_button {
    width: 35px;
    height: 35px;
    background-color: #ffab00;
    padding: 2px;
    margin: auto;
    cursor: pointer; }
  .main_nav .nav_comp {
    width: 20px;
    height: 3px;
    background-color: #064159;
    margin: 5px; }
  .main_nav .drop_cont {
    display: none;
    position: absolute;
    right: 0;
    padding: 10px;
    background-color: #ffc400;
    min-width: 200px;
    z-index: 1;
    text-align: center;
    border: 1px solid #064159; }
  .main_nav .nav_link {
    font-size: 15px;
    font-family: "Lato", Arial, sans-serif;
    color: #064159;
    display: block;
    text-decoration: none;
    margin: 10px 0; }

.main_nav:hover .drop_cont {
  display: block; }

@media only screen and (min-width: 769px) {
  .main_nav {
    border: none;
    display: flex;
    height: auto;
    width: 450px; }
    .main_nav .cont_con {
      width: 450px; }
    .main_nav .drop_cont {
      display: flex;
      position: relative;
      justify-content: space-between;
      right: 0;
      height: auto;
      width: 450px;
      background-color: #ffab00;
      border: none;
      padding: 0; }
    .main_nav .nav_link {
      padding: 10px; }

  .main_nav:hover .drop_cont {
    display: flex;
    justify-content: space-between; }

  .nav_link:hover {
    background-color: #eb503c;
    transition-duration: 1s; }

  .nav_button {
    display: none; } }
/* Begin Variables */
/* Begin Styles */
.hero {
  background-image: url("../images/home.jpg");
  width: 94%;
  padding: 3%;
  height: 200px;
  background-color: #ffc400;
  background-repeat: no-repeat;
  background-size: 1600px;
  display: flex; }

.hero_con {
  width: 245px;
  padding: 30px; }

.hero_head {
  font-family: "Lato", Arial, sans-serif;
  color: #efe9d8;
  letter-spacing: 2px;
  font-size: 36px;
  font-weight: 700;
  text-align: left; }

.main_content {
  background-color: #ffc400;
  width: 96%;
  padding: 2%; }

.over_content {
  padding: 20px 20px 0px 20px; }

.content_head {
  color: #4e1c07;
  font-size: 18px;
  font-family: "Droid Serif", Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: .8px;
  text-align: left;
  line-height: 1.6; }

.content_con, .coe-list {
  font-family: "Droid Serif", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #021d2c;
  margin-bottom: 20px;
  letter-spacing: .9px;
  text-align: left;
  line-height: 1.56; }

.division-line {
  height: 1px;
  width: 98%;
  padding: 0 1% 0 1%;
  background-color: #ee3e28; }

.ach4 {
  color: #eb503c;
  font-size: 16px;
  font-weight: bold;
  font-family: "Lato", Arial, sans-serif;
  text-align: left;
  letter-spacing: .8px;
  line-height: 1.5;
  margin-bottom: 10px; }

.ach2, .comm-list {
  color: #4e1c07;
  font-family: "Droid Serif", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1px; }

.ach3 {
  color: #021d2c;
  font-family: "Lato", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 2.0;
  letter-spacing: .8px; }

.buttons {
  margin-bottom: 50px; }

.button_con {
  margin-right: 50px; }

.span-button {
  color: #4e1c07;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-family: "Lato", Arial, sans-serif;
  letter-spacing: .8px; }

/* Media Queries */
@media only screen and (min-width: 769px) {
  .hero_con {
    width: 500px; } }
.comm-button-con {
  display: grid;
  height: auto;
  margin-bottom: 50px;
  justify-content: center; }

.comm-button {
  color: #efe9d8;
  text-decoration: none;
  background-color: #eb503c;
  padding: 3px;
  font-family: "Droid Serif", Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 3.83;
  letter-spacing: .9px;
  text-align: center;
  margin: 10px;
  width: 250px; }

.comm-list {
  margin-bottom: 50px; }

.white-bac, .tan-bac {
  background-color: white;
  padding: 50px 20px; }

.tan-bac {
  background-color: #F0E9D9; }

.ach2-1 {
  color: #4e1c07;
  font-family: "Droid Serif", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 20px; }

.ach5, .rights-res {
  font-size: 18px;
  font-family: "Droid Serif", Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #021d2c;
  line-height: 1.33;
  letter-spacing: .9px; }

.coe-list {
  list-style: decimal;
  list-style-position: inside; }

.rights-res {
  font-size: 16px; }

.foot {
  padding: 3%;
  background-color: white;
  display: block;
  height: auto;
  width: 94%;
  text-align: center;
  margin: 10px 0 10px 0; }
  .foot .foot_con {
    font-family: "Lato", Arial, sans-serif;
    color: #6f8998;
    font-size: 16px;
    margin: 10px 0 10px 0;
    letter-spacing: .8px; }

/*# sourceMappingURL=style.css.map */
